{% extends "base.html" %}
{% block title %}Add Course{% endblock %}
{% block content %}
<div class="card">
    <h5 class="card-header">Add Course</h5>
    <div class="card-body">
        <form action="#" method="post">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">

                <!-- Teacher Name -->
                <div class="form-group">
                    <div>{{ form.teacher.label(class="form-control-label") }}:</div>
                    {{ form.teacher(class="form-control-label", value=lst) }}
                </div>

                <!-- Course Name -->
                <div class="form-group">
                    {{ form.course.label(class="form-control-label") }}
                    {% if form.course.errors %}
                        {{ form.course(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.course.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.course(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>

            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>


        <!--form action="#" method="post">
            <div class="form-group col-md-4">
              {% if current_user.is_admin %}
                  {% if session["type"] == "admin" %}
                      <label for="inputTeacher">Choose Teacher:</label>
                      <select name="teacher_name" id="inputTeacher" class="form-control">
                        <option selected>Teacher name</option>
                          {% for teacher in teacher_list %}
                            <option>{{ teacher.user_name }}</option>
                          {% endfor %}
                      </select>
                  {% elif session["type"] == "teacher" %}
                        <label for="staticTeacher"><b>Teacher's Name:</b></label>
                        <input type="text" name="teacher_name" readonly class="form-control-plaintext"
                                 id="staticTeacher" value="{{ current_teacher.user_name }}">
                  {% endif %}
              {% endif %}
              <br>
              <label>Enter Course name:</label>
              <input type="text" name="course_name" class="form-control" id="InputCourse"
                       placeholder="Course Name">
            </div>
            <br>
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </form-->

    </div>
</div>
{% endblock %}
