{% extends "base.html" %}
{% block title %}{{ course.course_name }} - Dashboard{% endblock %}
{% block content %}
<div class="card-header">
    <h5 style="text-align:center;">{{ course.course_name }} - Dashboard</h5>
    <hr>
    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">

      <!-- Home -->
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
           aria-controls="pills-home" aria-selected="true">Home</a>
      </li>

      <!-- Participants -->
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-participants-tab" data-toggle="pill" href="#pills-participants" role="tab"
           aria-controls="pills-participants" aria-selected="false">Participants</a>
      </li>

      <!-- View tasks  -->
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-tasks-tab" data-toggle="pill" href="#pills-tasks" role="tab"
           aria-controls="pills-tasks" aria-selected="false">View tasks</a>
      </li>

    </ul>
</div>

<div class="card-body">
    <br>
    <div class="tab-content" id="pills-tabContent">

      <!-- Home -->
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <p>Teacher: {{ course.lecturer.user_name }}</p>
          <p>There are {{ course.enrollment|length }} participants in this course.</p><br><br>

          {% if best_student %}
            <strong>Outstanding student</strong>
            <p>Name: {{ best_student.user_name }} |  Avg: {{ '%0.2f' % best_student.avg()|float }}</p>
          {% endif %}
      </div>

      <!-- Participants -->
      <div class="tab-pane fade" id="pills-participants" role="tabpanel" aria-labelledby="pills-participants-tab">

          <table  class="table" style="width:100%">
          <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
              </tr>
          </thead>
          <tbody>
              {% for enroll in course.enrollment %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ enroll.student.user_name }}</td>
                    <td>{{ enroll.student.email }}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- View tasks  -->
      <div class="tab-pane fade" id="pills-tasks" role="tabpanel" aria-labelledby="pills-tasks-tab">
        {% for task in tasks %}
            <div class="jumbotron">
                <h1 class="display-4">{{ task.title }}</h1>
                <p class="lead">Posted by {{ course.lecturer.user_name }}
                    at {{ task.date_posted.strftime('%H:%M %b %d, %Y') }}
                    {% if task.update_time %}
                        <br>Last update at {{ task.update_time.strftime('%H:%M %b %d, %Y') }}
                    {% endif %}
                </p>
                <hr class="my-4">
                <p>{{ task.content }} </p>

            </div>
        {% endfor %}
      </div>

    </div>
</div>


{% endblock %}
