{% extends "base.html" %}
{% block title %}Update Grades{% endblock %}
{% block content %}

<h5 class="card-header">{{ course.course_name }} - Update Grades</h5>
<div class="card-body">

    <form action="#" method="post">
        <div class="form-group">
            {% for enroll in course.enrollment %}
                <div class="form-group row">
                    <label for="inputGrade{{ enroll.student.id }}" class="col-sm-2 col-form-label">
                        {{ enroll.student.user_name }}</label>
                    <div class="col-sm-2">
                       <input type="number" name="{{ enroll.student.user_name }}" min="0" max="100"
                              class="form-control" id="inputGrade{{ enroll.student.id }}"
                              value="{{ enroll.grade }}">
                    </div>
                </div>
            {% endfor %}
            <br>
        </div>
        <br>
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}
