{% extends "base.html" %}
{% block title %}New Enrollment{% endblock %}
{% block content %}
<div class="card">
    <h5 class="card-header">New Enrollment</h5>
    <div class="card-body">

        <form action="#" method="post">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">

                <!-- Courses to enroll -->
                <div class="form-group">
                    {{ form.enrollment.label(class="form-control-label") }}:
                    {{ form.enrollment(class="form-control-label") }}
                </div>
            </fieldset>

            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
</div>

{% endblock %}
