{% extends "base.html" %}
    {% block title %}{{ student.user_name }} Profile{% endblock %}
{% block content %}
    <h4 class="card-header">My Profile</h4>
    <div class="card-body">
        <h5>My Details:</h5>
        <table class="table" style="width:100%">
          <thead>
              <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>{{ student.user_name }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a href="{{ url_for('students.change_student_password', student_id=student.id) }}"
                       class="badge badge-dark">Change Password</a>
                </td>
                <td>
                    <a href="{{ url_for('students.update_student', student_id=student.id) }}"
                       class="badge badge-success">Update</a>
                    <a href="{{ url_for('students.delete_student', student_id=student.id) }}"
                       class="badge badge-danger">Delete</a>
                </td>
              </tr>
          </tbody>
        </table>
        <br><br>
        <h5>My Courses:</h5>
        <table class="table" style="width:100%">
              <thead>
                  <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Lecturer</th>
                  </tr>
              </thead>
              <tbody>
                  {% for enrollment in student.enrollment %}
                      <tr>
                        <th scope="row">{{ enrollment.course.course_name }}</th>
                        <td>{{ enrollment.course.grade }}</td>
                        <td>{{ enrollment.course.lecturer.user_name }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>


{% endblock %}
