{% extends "base.html" %}
    {% block title %}{{ student.first_name }}'s Courses{% endblock %}
{% block content %}
<div class="card">
    <h4 class="card-header">My Courses</h4>
    <div class="card-body">
        <table class="table" style="width:100%">
              <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Lecturer</th>
                    <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for enrollment in student.enrollment %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <th scope="row">{{ enrollment.course.course_name }}</th>
                        <td cope="row">{{ enrollment.grade }}</td>
                        <td cope="row">{{ enrollment.course.lecturer.full_name }}</td>
                        <td cope="row">
                            <a href="{{ url_for('courses.course_dashboard', course_id=enrollment.course_id,
                             user_id=student.id) }}" class="badge badge-info">Course Details</a>
                            <a href="{{ url_for('students.remove_enrollment' ,user_id=enrollment.student_id,
                            enrollment_id=enrollment.id) }}" class="badge badge-danger">Remove</a>

                        </td>
                      </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>

</div>
{% endblock %}
