    body {
      background: #ffffff;
      color: #333333;
    }

    .content-section {
      background: #ffffff;
      padding: 10px 20px;
      border: 1px solid #aaaaaa;
      border-radius: 3px;
      margin-bottom: 20px;
    }

    .profile-img {
      height: 125px;
      width: 125px;
      margin-right: 20px;
      margin-bottom: 16px;
    }

    .view-img {
      height: 150px;
      width: 150px;
      margin-right: 20px;
      margin-bottom: 16px;
    }

    .card {
      border: 1px solid #aaaaaa;
    }

    .btn-del :hover {
        color: #cc2565;
    }

    .btn-edit :hover {
        color: #6445ff;
    }

    .my-btn {
        color: #4f4f49;
    }

    .article-title {
      color: #444444;
    }

    a.article-title:hover {
      color: #428bca;
      text-decoration: none;
    }

    .article-content {
      white-space: pre-line;
    }

    .crop {
        white-space: nowrap;
        max-width: 600px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .article-img {
      height: 65px;
      width: 65px;
      margin-right: 16px;
    }

    .article-metadata {
      padding-bottom: 1px;
      margin-bottom: 4px;
      border-bottom: 1px solid #e3e3e3
    }

    .article-metadata a:hover {
      color: #333;
      text-decoration: none;
    }

    .article-svg {
      width: 25px;
      height: 25px;
      vertical-align: middle;
    }