{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}

    <div class="card">
        {% if session["active"] %}
        <h5 class="card-header">Welcome {{ session["user_name"] }}</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            {% for i in range(5) %}
                <p>.</p>
            {% endfor %}
            <h3>content + img?</h3>
            <!--img src="images\graduates.jpg" class="card-img-top" alt="..." -->
        </div>
        {% else %}
        <h5 class="card-header">Welcome</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
            <a href="{{ url_for('sign_up') }}" class="btn btn-primary">Sign up</a>
        </div>
        {% endif %}
    </div>

{% endblock %}