{% extends "base.html" %}
{% block title %}Sign-up page{% endblock %}

{% block content %}

<div class="card" xmlns="http://www.w3.org/1999/html">
    <h5 class="card-header">Welcome</h5>
    <div class="card-body">

        <form action="#" method="post">
            <div class="form-group">
                <label>User Name</label>
                <input type="text"  name="user_name" class="form-control" id="formGroupName"
                       placeholder="User Name">
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text"  name="user_email" class="form-control" id="formGroupEmail"
                       placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="user_password" class="form-control" id="examplePassword1"
                       placeholder="Password">
            </div>
            <div class="form-group">
                <label>Password Confirmation:</label>
                <input type="password" name="password_confirmation" class="form-control" id="examplePassword2"
                       placeholder="Password">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="user_type" id="inlineRadio1" value="student">
                <label class="form-check-label" for="inlineRadio1">Student</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="user_type" id="inlineRadio2" value="teacher">
                <label class="form-check-label" for="inlineRadio2">Teacher</label>
            </div>
            <br><br>
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
</div>

{% endblock %}