{% extends "base.html" %}
{% block title %}Admin Page - Teachers{% endblock %}
{% block content %}
<div class="card">
    <h5 class="card-header">Admin Panel - Mange Teachers:</h5>
    <div class="card-body">
        <table class="table" style="width:100%">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Approval</th>
                <th scope="col"></th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in teacher_list %}
            <tr>
                <td scope="row">{{ loop.index }}</td>
                <td scope="row">{{ teacher.full_name }}</td>
                <td scope="row">{{ teacher.email }}</td>
                <td scope="row">{{ teacher.gender }}</td>
                <td scope="row">{{ teacher.approved }}</td>
                <td scope="row">
                    {% if teacher.approved %}
                    <a href="{{ url_for('admin.teacher_approval', user_id=teacher.id, action='disapprove') }}"
                       class="badge badge-warning">Disapprove {{ teacher.user_name }}</a>
                    {% else %}
                    <a href="{{ url_for('admin.teacher_approval' ,user_id=teacher.id, action='approve') }}"
                       class="badge badge-info">Approve {{ teacher.user_name }}</a>
                    {% endif %}
                </td>
                <td scope="row">
                    <a href="{{ url_for('teachers.watch_teacher', user_id=teacher.id) }}"
                       class="badge badge-primary">Watch</a>
                    <a href="{{ url_for('main.update_user_profile', user_id=teacher.id) }}"
                       class="badge badge-success">Update</a>
                    <a href="{{ url_for('main.delete_user', user_id=teacher.id) }}"
                       class="badge badge-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
    </div>
</div>
{% endblock %}
