{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}
{% block content %}
    <h5 class="card-header">Admin Panel</h5>
    <div class="card-body">
        <table style="width:100%">
          <tr>
              <th colspan="4"><h2>Student</h2></th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Gender</th>
            <th>Action</th>
          </tr>

          {% for student in student_list %}
              <tr>
                <td>{{ student.full_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.role }}</td>
                <td>{{ student.gender }}</td>
                <td><a href="{{ url_for('students.watch_student', user_id=student.id) }}"
                       class="badge badge-primary">Watch</a>
                    <a href="#" class="badge badge-success">Update</a>
                    <a href="{{ url_for('main.delete_user', user_id=student.id) }}"
                       class="badge badge-danger">Delete</a>
                </td>
              </tr>
          {% endfor %}
        </table>
        <br><br>
        <table style="width:100%">
          <tr>
              <th colspan="4"><h2>Teacher</h2></th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Gender</th>
            <th colspan="2">Approval</th>
            <th>Action</th>
          </tr>

          {% for teacher in teacher_list %}
              <tr>
                <td>{{ teacher.full_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.role }}</td>
                <td>{{ teacher.gender }}</td>
                <td>
                    {% if teacher.approved %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>

                 <td>
                    {% if teacher.approved %}
                        <a href="{{ url_for('admin.teacher_approval', user_id=teacher.id, action='disapprove') }}"
                           class="badge badge-warning">Disapprove</a>
                    {% else %}
                        <a href="{{ url_for('admin.teacher_approval' ,user_id=teacher.id, action='approve') }}"
                           class="badge badge-info">Approve</a>
                    {% endif %}
                 </td>
                 <td>
                    <a href="{{ url_for('teachers.watch_teacher', user_id=teacher.id) }}"
                       class="badge badge-primary">Watch</a>
                    <a href="{{ url_for('main.update_user_profile', user_id=teacher.id) }}"
                       class="badge badge-success">Update</a>
                    <a href="{{ url_for('main.delete_user', user_id=teacher.id) }}"
                       class="badge badge-danger">Delete</a>
                </td>
              </tr>
          {% endfor %}
        </table>

        <br><br>
        <table style="width:100%">
          <tr>
              <th colspan="4"><h2>Courses</h2></th>
          </tr>
          <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Students</th>
            <th>Action</th>
          </tr>

          {% for course in courses_list %}
              <tr>
                <td>{{ course.course_name }}</td>
                <td>{{ course.lecturer.full_name }}</td>
                <td>{% for enroll in course.enrollment %}
                        {% if loop.index % 4 == 0 %}
                            <br/>
                        {% endif %}
                        ({{ loop.index}}) {{ enroll.student.full_name }}

                    {% endfor %}
                </td>
                <td><a href="#" class="badge badge-primary">Watch</a>
                    <a href="#" class="badge badge-success">Update</a>
                    <a href="{{ url_for('courses.delete_course', course_id=course.id) }}"
                       class="badge badge-danger">Delete</a>
                </td>
              </tr>
          {% endfor %}
        </table>
    </div>
{% endblock %}
