{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}
{% block content %}
    <h5 class="card-header">Admin</h5>
    <div class="card-body">
        <a href="{{ url_for('admin.add_course') }}" class="btn btn-primary" >Add Course</a>
        <table style="width:100%">
          <tr>
              <th colspan="4"><h2>Student</h2></th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
          </tr>

          {% for student in student_list %}
              <tr>
                <td>{{ student.user_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.password }}</td>
                <td><a href="#" class="badge badge-primary">Watch</a>
                    <a href="#" class="badge badge-success">Update</a>
                    <a href="{{ url_for('students.delete_student', student_id=student.id) }}"
                       class="badge badge-danger">Delete</a>
                </td>
              </tr>
          {% endfor %}
        <tr><th colspan="4"><br></tr>
          <tr>
              <th colspan="4"><br></th>
          </tr>
          <tr>
              <th colspan="4"><h2>Teacher</h2></th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
          </tr>

          {% for teacher in teacher_list %}
              <tr>
                <td>{{ teacher.user_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.password }}</td>
                 <td>
                     <a href="#" class="badge badge-primary">Watch</a>
                    <a href="#" class="badge badge-success">Update</a>
                    <a href="{{ url_for('teachers.delete_teacher', teacher_id=teacher.id) }}"
                       class="badge badge-danger">Delete</a>
                </td>
              </tr>
          {% endfor %}
        </table>

        <br><br>
        <table style="width:100%">
          <tr>
              <th colspan="4"><h2>Courses</h2></th>
          </tr>
          <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Students</th>
            <th>Action</th>
          </tr>

          {% for course in courses_list %}
              <tr>
                <td>{{ course.course_name }}</td>
                <td>{{ course.lecturer.user_name }}</td>
                <td>  </td>
                <td><a href="#" class="badge badge-primary">Watch</a>
                    <a href="#" class="badge badge-success">Update</a>
                    <a href="{{ url_for('courses.delete_course', course_id=course.id) }}"
                       class="badge badge-danger">Delete</a>
                </td>
              </tr>
          {% endfor %}
        </table>
    </div>
{% endblock %}
