<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Academic Manager </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-nav mr-auto">
                <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
                <a class="nav-link" href="{{ url_for('admin.admin_panel') }}">About</a>
                {% if session["type"] %}
                    {% if session["type"] == "student" %}
                        <a class="nav-link" href="{{ url_for('students.student') }}">Student</a>
                        <a class="nav-link" href="#">Student Action1</a>
                        <a class="nav-link" href="#">Student Action1</a>
                    {% elif session["type"] == "teacher" %}
                        <a class="nav-link" href="{{ url_for('teachers.teacher') }}">Teacher</a>
                        <a class="nav-link" href="#">Teacher Action1</a>
                        <a class="nav-link" href="#">Teacher Action2</a>
                    {% elif session["type"] == "admin" %}
                        <a class="nav-link" href="{{ url_for('admin.admin_panel') }}">Admin</a>
                        <a class="nav-link" href="#">Admin Action1</a>
                        <a class="nav-link" href="#">Admin Action2</a>
                    {% endif %}

                {% endif %}

            </div>
            <div class="navbar-nav">
                {% if session["type"] %}
                    <a class="nav-link" href="{{ url_for('main.user') }}">Profile</a>
                    <a class="nav-link" href="{{ url_for('main.logout') }}">Log Out</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
                    <a class="nav-link" href="{{ url_for('main.sign_up') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    </br>
    <div class="col-sm-12">
        <div class="card">
            {% block content %}{% endblock %}
        </div>
    </div>
    </br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, msg in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <strong>info: </strong>{{msg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>