{% extends "base.html" %}
{% block title %}Teacher Page{% endblock %}
{% block content %}
    <h5 class="card-header">{{ teacher.user_name }} Profile</h5>
    <div class="card-body">
        <h5>Details:</h5>
        <table class="table"  style="width:100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                {% if "user_name" in session %}
                    {% if session["user_name"] == teacher.user_name %}
                        <th>Password</th>
                        <th>Action</th>
                    {% endif %}
                {% endif %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ teacher.user_name }}</td>
                <td>{{ teacher.email }}</td>
                {% if "user_name" in session %}
                    {% if session["user_name"] == teacher.user_name %}
                        <td>
                            <a href="{{ url_for('teachers.change_teacher_password', teacher_id=teacher.id) }}"
                           class="badge badge-dark">Change Password</a>
                        </td>
                        <td>
                            <a href="{{ url_for('teachers.update_teacher', teacher_id=teacher.id) }}"
                               class="badge badge-success">Update</a>
                            <a href="{{ url_for('teachers.delete_teacher', teacher_id=teacher.id) }}"
                               class="badge badge-danger">Delete</a>
                        </td>
                    {% endif %}
                {% endif %}
              </tr>
        </table>
        <br><br>
        <div>
            <h5>Courses you teach:</h5>
            <table class="table" style="width:100%">
              <thead>
                  <tr>
                    <th>#</th>
                    <th>Course Name</th>
                    <th>Participants</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for course in teacher.course %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.enrollment|length }}</td>
                        {% if "type" in session and "user_name" in session %}
                          {% if session["type"] == "admin" or session["user_name"] == teacher.user_name %}
                            <th>
                                <a href="{{ url_for('courses.course_dashboard_teacher', course_id=course.id) }}"
                                    class="badge badge-info">Dashboard</a>
                                <a href="{{ url_for('courses.delete_course', course_id=course.id) }}"
                                   class="badge badge-danger">Delete</a>
                            </th>
                          {% endif %}
                        {% endif %}
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}
