{% extends "base.html" %}
{% block title %}{{ teacher.full_name }} Courses{% endblock %}
{% block content %}
<div class="card">
    <h4 class="card-header">My Courses</h4>
    <div class="card-body">
        <table class="table" style="width:100%">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course Name</th>
                <th scope="col">Participants</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for course in teacher.course %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ course.course_name }}</td>
                <td>
                    {{ course.enrollment|length }}
                </td>
                <th>
                    <a href="{{ url_for('courses.course_dashboard', course_id=course.id) }}"
                       class="badge badge-info">Dashboard</a>
                    <a href="{{ url_for('courses.delete_course', course_id=course.id) }}"
                       class="badge badge-danger">Delete</a>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
